<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-imox" version="1.0.0"
        xmlns="http://apache.org/cordova/ns/plugins/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android">

    <name>ImoxPlugin</name>

    <js-module name="ImoxPlugin" src="www/ImoxPlugin.js">
        <clobbers target="ImoxPlugin"/>
    </js-module>

    <platform name="android">

        <config-file parent="/*" target="res/xml/config.xml">
            <feature name="ImoxPlugin">
                <param name="android-package" value="cordova.plugin.imox.ImoxPlugin"/>
                <param name="onload" value="true" />
            </feature>
        </config-file>

        <config-file target="AndroidManifest.xml" parent="/*">
            <uses-permission android:name="android.permission.INTERNET" />
        </config-file>

        <source-file src="src/android/ImoxPlugin.java" target-dir="src/cordova/plugin/imox/ImoxPlugin"/>
        <framework src="src/android/build.gradle" custom="true" type="gradleReference" />

    </platform>

    <platform name="ios">
        <config-file parent="/*" target="config.xml">
            <feature name="ImoxPlugin">
                <param name="ios-package" value="ImoxPlugin"/>
            </feature>
        </config-file>
        <source-file src="src/ios/ImoxPlugin.m"/>
    </platform>
</plugin>